.Upload-img {
    border-radius: 5px;
    border: 1px solid #DADADA;
    padding: 5px;
    background-color: #F7F7F7;
    height: 150px;
    width: 150px;
    margin-top: 10px;
}
.imgtext{
    font-size: 12px;
}