<div class="page-header">
    <h3 class="page-title">
      Add Brands
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">Brands</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Enter Brand Details
        </li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Brands</h4>
          <p class="card-description">
            Enter Brand Details...!
          </p>
          <form [formGroup]="brandForm" (ngSubmit)="saveBrand()">        
            <div class="form-group">
              <label for="brandName">Brand Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="name" 
                placeholder="Name"
              />
            </div>
            <div class="form-group">
                <label for="brandType">Category</label>
                <select class="form-control" name="categoryId" id="brandType" formControlName="categoryId">
                  <option value="0">Select Category</option>
                  <option value="{{category.id}}" *ngFor="let category of categories">
                    {{category.name}}
                  </option>
                </select>
              </div>
            <div class="form-group">
                <label>File upload</label>
                <input type="file" (change)="onFileSelect($event)">              
            </div>
            <div class="form-group">
              <label for="brandDescription">Description</label>
              <textarea
                class="form-control"
                name="description"
                id="brandDescription"
                rows="4"
                formControlName="description" 
              ></textarea>
            </div>
            <button type="submit" class="btn btn-gradient-primary mr-2">
              Update
            </button>
            <button class="btn btn-light" (click)="cancelAdd()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  