<div class="page-header">
  <h3 class="page-title">
    Customers Details
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:;" [routerLink]="['/products/list']">Product</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
  </nav>
</div>
<div class="row" *ngIf="details">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Details</h4>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <label>Product Name</label>
                &nbsp;&nbsp;&nbsp;
                <label
                  ><strong>{{ details.productTitle }}</strong></label
                >
              </div>
              <div>&nbsp;</div>
              <div class="row">
                <label>Category</label>
                &nbsp;&nbsp;&nbsp;
                <label
                  ><strong>{{ details.category.name }}</strong></label
                >
              </div>
              <div>&nbsp;</div>
              <div class="row">
                <label>Brand</label>
                &nbsp;&nbsp;&nbsp;
                <label
                  ><strong>{{ details.brand.name }}</strong></label
                >
              </div>
              <div>&nbsp;</div>
              <div class="row">
                <label>Sale Price</label>
                &nbsp;&nbsp;&nbsp;
                <label
                  ><strong>{{ details.salePrice }}</strong></label
                >
              </div>
              <div>&nbsp;</div>
              <div class="row">
                <label>Regular Price</label>
                &nbsp;&nbsp;&nbsp;
                <label
                  ><strong>{{ details.reqularPrice }}</strong></label
                >
              </div>
            </div>
            <div class="col-md-4">
              <div style="border: 1px solid #ccc; height: 200px;">
                <img src="{{details.image}}" />
              </div>
            </div>
          </div>
          <div>&nbsp;</div>
          <div class="row">             
              <label><strong>Description</strong></label>
              <br />
              <label>{{ details.description }}</label>             
          </div>
          <div>&nbsp;</div>
          <hr />
          <div class="row">
            <label><strong> Variance & Features</strong></label>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Color: &nbsp;&nbsp; {{details.product_variances[0].productColor}}</label>
            </div>
            <div class="col-md-4">
              <label>Height: &nbsp;&nbsp; {{details.product_variances[0].height}}</label>
            </div>
            <div class="col-md-4">
              <label>Weight: &nbsp;&nbsp; {{details.product_variances[0].weight}}</label>
            </div>
            <div class="col-md-4">
              <label>Width: &nbsp;&nbsp; {{details.product_variances[0].width}}</label>
            </div>
          </div>
          <div>&nbsp;</div>
          <div class="row">
            <label>Features: &nbsp;</label>
            <div>
              {{details.product_variances[0].features}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
