<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Product</h4>
            <form [formGroup]="addProductForm" (ngSubmit)="addProduct(addProductForm.value)" class="form-sample">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Product Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="productTitle" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-9">
                                <select class="form-control" formControlName="categoryId" (change)="categoryChg($event.target.value)">
                                    <option>Select Category</option>
                                    <option *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Short Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" formControlName="shortDescription"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Brand</label>
                            <div class="col-sm-9">
                                <select class="form-control" formControlName="brandId" (change)="brandChg($event.target.value)">
                                    <option>Select Brand</option>
                                    <option *ngFor="let b of brands" [value]="b.id">{{b.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Regular Price</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="regularPrice" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Sale Price</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="salePrice" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Sale Price Starts At</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="salePriceStartsAt" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Sale Price Ends At</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="salePriceEndsAt" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">In Stock</label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" (change)="inStock($event.target.value)" name="stock" id="stock1" value="Yes">
                                        Yes
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" (change)="inStock($event.target.value)" name="stock" id="stock2" value="No">
                                        No
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="isStockAvailable">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Stock</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="stock" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Visibility in Catalog</label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" (change)="visibilityInCatalogue($event.target.value)" name="visibilityInCatalogue"
                                            id="visibilityInCatalogue1" value="Yes">
                                        Yes
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" (change)="visibilityInCatalogue($event.target.value)" name="visibilityInCatalogue"
                                            id="visibilityInCatalogue2" value="No">
                                        No
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <!-- <label class="col-sm-3 col-form-label">Image</label>
                            <div class="col-sm-9">
                                <input type="file" name="img[]" class="file-upload-default">
                                <div class="input-group col-xs-12">
                                    <input type="file" class="form-control file-upload-info" placeholder="Upload Image">
                                    <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-gradient-primary"
                                            type="button">Upload</button>
                                    </span>
                                </div>
                            </div> -->
                            <label class="col-sm-3 col-form-label d-block">Image</label>
                            <input type="file" (change)="onFileSelect($event, 1)">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tags</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="tags" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Allow Customer Reviews</label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" (change)="allowCustomerReview($event.target.value)" name="allowCustomerReviews"
                                            id="allowCustomerReviews1" value="Yes">
                                        Yes
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" (change)="allowCustomerReview($event.target.value)" name="allowCustomerReviews"
                                            id="allowCustomerReviews2" value="No">
                                        No
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Product Size</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="productSize" class="form-control" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Product Location</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="productLocation" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Product Color</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="productColor" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Length</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="length" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Weight</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="weight" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Width</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="width" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Height</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="height" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Quantity</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="productQuantity" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <!-- <label class="col-sm-3 col-form-label">C Image</label>
                            <div class="col-sm-9">
                                <input type="file" name="img[]" class="file-upload-default">
                                <div class="input-group col-xs-12">
                                    <input type="file" class="form-control file-upload-info" placeholder="Upload Image">
                                    <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-gradient-primary"
                                            type="button">Upload</button>
                                    </span>
                                </div>
                            </div> -->
                            <label class="col-sm-3 col-form-label d-block">C Image</label>
                            <input type="file" (change)="onFileSelect($event, 2)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Color Code</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="colorCode" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Add More Fields</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="addMoreFields" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Discount Available</label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" (change)="discountAvailable($event.target.value)" name="discountAvailable"
                                            id="discountAvailable1" value="Yes">
                                        Yes
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" (change)="discountAvailable($event.target.value)" name="discountAvailable"
                                            id="discountAvailable2" value="No">
                                        No
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="isDiscountAvailable">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Discount</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="discount" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Features Available</label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" (change)="featuresAvailable($event.target.value)" name="features" id="features1"
                                            value="Yes">
                                        Yes
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" (change)="featuresAvailable($event.target.value)" name="features" id="features2"
                                            value="No">
                                        No
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="isFeaturesAvailable">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Features</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="features" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Variant Retail Price</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="variantRetailPrice" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Variant Tax Price</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="variantTaxPercent" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Base Tax Percent</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="baseTaxPercent" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Product Note</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" formControlName="purchaseNote" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                    <button type="button" class="btn btn-light">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>