<div class="page-header">
  <h3 class="page-title">
    Product List
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Products</a></li>
      <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
  </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
                <ngx-datatable #table class="material" [loadingIndicator]="loadershow" [rows]="products"
                    [columns]="columns" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="'50'" [limit]="10">                
                    
                    <ngx-datatable-column [width]="180" name="Title" prop="productTitle">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{row.productTitle}}
                                </div>
                            </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="180" name="Category" prop="category">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                {{row.category.name}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="180" name="Brand" prop="brand">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          <div>
                              {{row.brand}}
                          </div>
                      </ng-template>
                  </ngx-datatable-column>

                    <ngx-datatable-column [width]="180" name="Price" prop="salePrice">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                {{row.salePrice}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Action">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <button mat-icon-button (click)="viewDetails(row)">
                          <i class="mdi mdi-account-search"></i>
                        </button>
                      </ng-template>
                    </ngx-datatable-column>
                
                </ngx-datatable>
          </div>
        </div>
      </div>
</div>